{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ entity.login }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entity.mail }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Isadmin</th>
                <td>{{ entity.isAdmin }}</td>
            </tr>
            <tr>
                <th>Listento</th>
                <td>{{ entity.listenTo }}</td>
            </tr>
            <tr>
                <th>Uploaded</th>
                <td>{{ entity.uploaded }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('users') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('users_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
