{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Liste d'auteurs</h1>

    <a href="{{ path('authors_new') }}" > 
        <button class="btn">Ajouter un nouvel auteur</button>
    </a>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('authors_show', { 'id': entity.id }) }}">{{ entity.lastname }}</a></td>
                <td>{{ entity.firstname }}</td>
                <td>{{ entity.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
