{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Audio list</h1>
    <a href="{{ path('audios_new') }}" > 
        <button class="btn">Ajouter un nouvel audio</button>
    </a>
                
    <table class="records_list table table-striped">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Name</th>
                <th>Number</th>
                {#<th>Description</th>#}
                <th>Saga</th>
                <th>Genre</th>
                <th>Author</th>
                {#<th>Play</th>#}
                <th>Uploadby</th>
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {#<td>{{ entity.id }}</td>#}
                <td><a href="{{ path('audios_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.number }}</td>
                {#<td>{{ entity.description }}</td>#}
                <td>{{ entity.saga }}</td>
                <td>{{ entity.genre }}</td>
                <td>{{ entity.author }}</td>
                {#<td>{{ entity.link }}</td>#}
                <td>{{ entity.uploadBy }}</td>
                {#
                <td>
                <ul>
                    <li>
                        <a href="{{ path('audios_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('audios_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
                #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
