{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Playlist list</h1>
    <a href="{{ path('playlists_new') }}" > 
        <button class="btn">Ajouter une nouvelle playlist</button>
    </a>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {# <td>{{ entity.id }}</td> #}
                <td><a href="{{ path('playlists_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.content }}</td>
                {# 
                <td>                
                    <ul>
                        <li>
                            <a href="{{ path('playlists_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('playlists_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                #}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
